@{
    ViewData["Title"] = "Home";
}
<div class="hero-banner">
    <div class="hero-overlay"></div>
    <div class="hero-content">
        <h2>HELLO & WELCOME</h2>
        <h1>NEAR YOU RESERVATION</h1>
        <a class="hero-btn" href="/Reservations">BOOKING</a>
    </div>
</div>
